<!-- <div>
  <button (click)="increment()">increase</button>
  <p>{{(count$|async)}}</p>
  <button (click)="decrement()">decrease</button>
</div> -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Calculator</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>calculate</mat-icon>
  </button>
</mat-toolbar>

<div class="calculator">
  <div id="display">
    <div id="text">{{(calc$|async)?.display}}</div>
    <br>
    <div id="text2">{{(calc$|async)?.operator}}</div>
  </div>
  <div id="keys">
      <div id="keys_calculator">
      <button type ='button' (click)="addOperator('+')">+</button>
      <button type ='button' (click)="addOperator('-')">-</button>
      <button type ='button' (click)="addOperator('x')">x</button>
      <button type ='button' (click)="addOperator(':')">:</button>
    </div>
      <div id="keys_row1">
        <button type="button" (click)="addDigit('0')">0</button>
        <button type="button" (click)="addDigit('1')">1</button>
        <button type="button" (click)="addDigit('2')">2</button>
        <button type="button" (click)="addDigit('3')">3</button>
      </div>
      <div id="keys_row2">
        <button type="button" (click)="addDigit('4')">4</button>
        <button type="button" (click)="addDigit('5')">5</button>
        <button type="button" (click)="addDigit('6')">6</button>
        <button type="button" (click)="addDigit('7')">7</button>
      </div>
      <div id="keys_row3">
        <button type="button" (click)="addDigit('8')">8</button>
        <button type="button" (click)="addDigit('9')">9</button>
        <button type="button" (click)="reset()">D</button>
        <button id="calculate"  (click)="calculate()">=</button>
      </div>
  </div>
  <!-- <div id="reset">
    <button id="reset">RESET</button>
  </div> -->
  </div>


